@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --body-primary: #f0f8ff;
  }
}

body {
  position: relative;
  display: block;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--body-primary);
}

* {
  box-sizing: border-box;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

code {
  font-family: "Montserrat", sans-serif;
}

button {
  height: auto !important;
}

.pick_banner-stories {
  height: 120px;
  width: 140px;

  background: #383737;

  border-top-left-radius: 100%;
  border-top-right-radius: 70% 100%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 100% 70%;

  transform: rotate(30deg);
  overflow: hidden;
}

.pick_banner-stories-image {
  transform: rotate(-30deg);
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.pic-stories {
  height: 200px;
  width: 140px;

  background: #383737;

  border-top-left-radius: 10%;
  border-top-right-radius: 10% 10%;
  border-bottom-right-radius: 70% 10%;
  border-bottom-left-radius: 10% 10%;

  transform: rotate(0deg);
  overflow: hidden;
}

.logo_text {
  font-family: "Nerko One", cursive;
}

.logo_text_gradient {
  background: linear-gradient(
    179deg,
    #fffbfc -0.89%,
    rgba(239, 147, 186, 0.9) 50.08%,
    rgba(250, 83, 223, 0.78) 82.86%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scaleSearchBarBanner {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.expanding-width {
  animation: scaleSearchBarBanner 0.3s ease;
}

.slide-from-left {
  animation: slideFromLeft 0.5s ease forwards;
}

.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.scale-up-br {
  animation: scale-up-br 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-br {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}

.scale-out-br {
  animation: scale-out-br 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes scale-out-br {
  0% {
    transform: scale(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.heartbeat {
  animation: heartbeat 3s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.rotate-center {
  animation: rotate-center 0.6s ease-in-out both;
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
